section.contact-head {
  min-height: 200px;
  background-image: url(../img/bg2.jpg); }
  section.contact-head h1 {
    padding-top: 75px; }

section.contact-head {
  font-family: "Lato", sans-serif;
  color: white; }
  section.contact-head h1 {
    font-size: 65px;
    line-height: 45px;
    font-weight: 300;
    margin-bottom: 5px; }
  section.contact-head p {
    font-size: 20px;
    line-height: 27px;
    font-weight: 300; }
