section.item {
  min-height: 400px;
  font-family: "Lato", sans-serif;
  color: #555555; }
  section.item.page {
    height: auto; }
  section.item a {
    display: block;
    margin: 50px auto 0 auto; }
    section.item a:first-child {
      margin-top: 0; }
  section.item img {
    display: block;
    margin: 0 auto; }
    section.item img:hover {
      opacity: 0.9;
      cursor: pointer; }
  section.item .container {
    padding: 50px 0; }
  section.item h1 {
    font-weight: 300;
    font-size: 30px;
    line-height: 30px;
    border-bottom: 1px solid #555555;
    padding-bottom: 20px;
    margin-bottom: 20px; }
  section.item p, section.item ul {
    font-weight: 300;
    font-size: 18px;
    line-height: 18px; }
  section.item ul {
    list-style: disc;
    list-style-position: inside;
    color: #555555; }
    section.item ul ul {
      margin-left: 15px; }
