section.item.content {
    text-align: left;
}
section.item a {
    display: block;
    margin: 50px auto 0 auto;
}
section.item a:first-child {
    margin-top: 0;
}
section.item img {
    display: block;
    margin: 0 auto;
}
section.item img:hover {
    opacity: 0.9;
    cursor: pointer;
}
section.item p, section.item ul {
    font-weight: 300;
    font-size: 17px;
    line-height: 1.6em;
}
section.item ul {
    list-style: disc;
    list-style-position: inside;
    color: #555555;
}
@media (max-width: 767px) {
    .item-images {
        margin-top: 50px;
    }
    section.item img {
        /* max-width: 450px; */
        width: 100%;
    }
}
