section.products a {
    text-decoration: none;
    color: #555;
}
section.products p.description {
    line-height: 1.2em;
}
section.products .row div {
    margin-bottom: 75px;
}
section.products .row div:hover {
    opacity: 0.9;
    cursor: pointer;
}
section.products .row img {
    width: 100%;
    margin-bottom: 20px;
}
section.products .row img:hover {
    cursor: pointer;
}
/* Spacer */
section.content .spacer {
    margin: 0 !important;
    background-color: #555555 !important;
}