section.products-head
	min-height: 200px
	background-image: url(../img/bg2.jpg)
	h1
		padding-top: 50px

section.products-head, section.products
	font-family: "Lato", sans-serif
	color: white
	h1
		font-size: 45px
		line-height: 45px
		font-weight: 400
		margin-bottom: 5px
	p
		font-size: 20px
		line-height: 27px
		font-weight: 300

section.products
	color: #555
	text-align: center
	h1
		font-size: 30px
		line-height: 30px
		margin-bottom: 10px
	p
		font-size: 16px
		line-height: 20px
		font-weight: 200
	.row
		padding-top: 75px
		div
			margin-bottom: 75px
		img
			width: 100%
			margin-bottom: 20px


section.products-head, section.products
	&.page
		height: auto