section.products-head {
  min-height: 200px;
  background-image: url(../img/bg2.jpg); }
  section.products-head h1 {
    padding-top: 50px; }

section.products-head, section.products {
  font-family: "Lato", sans-serif;
  color: white; }
  section.products-head h1, section.products h1 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 400;
    margin-bottom: 5px; }
  section.products-head p, section.products p {
    font-size: 20px;
    line-height: 27px;
    font-weight: 300; }

section.products {
  color: #555555;
  text-align: center; }
  section.products h1 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px; }
  section.products p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 200; }
  section.products .row {
    padding-top: 75px; }
    section.products .row div {
      margin-bottom: 75px; }
    section.products .row img {
      width: 100%;
      margin-bottom: 20px; }

section.products-head.page, section.products.page {
  height: auto; }
