@import url("/excel-blinds/lib/responsive-menu/css/menu.less");
@import url("/excel-blinds/lib/responsive-fader/css/style.css");
@import url("/excel-blinds/lib/page-reveal-theme/css/style.css");

body {
	font-family: 'Lato', serif;
}

h1,h2,h3,h4,h5 {
	-webkit-text-stroke: 0.3px;
}

h1 {
	font-size: 58px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 38px;
}

h4 {
	font-size: 28px;
}

.spacer {
	height: 3px;
	width: 50px;
	display: inline-block;
	background-color: #fff;
}

/*Bootstrap Override */
.btn {
	padding: 0 25px;
	background-color: transparent;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 45px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 0;
	border: 2px solid #fff;
}

.btn:hover {
	background-color: #fff;
	color: #000;

}

.btn:focus {
	outline: none;
	background-color: transparent;
	color: #fff;
}
/*End Override */

/*======================================================================= */
/*----------------------------------------------------------------------- */
/* Responsive Menu Override */
/*----------------------------------------------------------------------- */
/*======================================================================= */

/* Non-Responsive colors */
@nav-height: 70px;
@navbg: #222222;
@theme-background-color: #000000; /* default theme color of menu red/green/etc */
@font-color: #B0B0B0;			  /* font color of non-responsive view */
@hover-font-color: #fff; 		  /* hover font color of non-responsive view */

/* Responsive colors */
@theme-hover-color: #191919; 	  /* hover theme color */
@res-font-color: #B0B0B0;			  /* font color when you hover in responsive mode */
@res-list-border-top: #464646;	  /* color of border separating each link in responsive mode */
@list-item-height: 50px;
@res-btn-padding: 25px 20px;

nav {
	position: static;
	z-index: 3;
	opacity: 0.9;
}

/*======================================================================= */
/*----------------------------------------------------------------------- */
/* Home Page */
/*----------------------------------------------------------------------- */
/*======================================================================= */

/*======================================================================= */
/* Fader Overrides */
/*======================================================================= */
section#fader ul#slides li {
	background-color: #222222;
	opacity: 0.9;
	margin: 0 10px 0 10px;
	height: 420px;
	margin-top: 275px;
	padding: 0;
	text-align: center;
}

section#fader ul#background-images li.slide-1-bg {
	background-image: url(../img/bg1.jpg);
}

section#fader ul#background-images li.slide-2-bg {
	background-image: url(../img/bg2.jpg);
}


section#fader ul#background-images li.slide-3-bg {
	background-image: url(../img/bg3.jpg);
}

section#fader ul#slides li {
	padding-top: 70px; 
}

section#fader ul#slides li span.spacer{
	margin-bottom: 15px;
}

section#fader ul#slides li h3{
	font-weight: 700;
	letter-spacing: 6px;
	margin-bottom: 15px;
}

section#fader ul#slides li h1{
	font-size: 74px;
	font-weight: 900;
	letter-spacing: 4px;
	margin-bottom: 15px;
}

section#fader ul#slides li p {
	font-size: 16px;
	letter-spacing: 2px;
	margin: 0 250px 0 250px;
	padding: 0;
}

/*======================================================================= */
/* Page Reveal Theme Overrides */
/*======================================================================= */

section.page-2 {
	background-color: #7ac143;
	height: 400px;
	color: #fff;
}

section.page-3 {
	background-image: none;
	background-color: #fff;
	height: 400px;
}

section.page-3 h1 {
	color: #000;
}

section.page-4 {
	background-image: url(../img/bg2.jpg);
	height: 400px;
}


section.page-5 {
	background-image: none;
	background-color: #fff;
	height: 400px;
}

section.page-6{
	background-color: #24cddc;
	height: 400px;
	color: #fff;
}

footer {
	background-color: #222222;
	height: 85px;
	line-height: 85px;
	color: #B0B0B0;
}

@media (max-width: 768px) {

	section#fader ul#slides li h3{
		font-size: 18px;
	}

	section#fader ul#slides li h1{
		font-size: 54px;
	}

	section#fader ul#slides li {
		padding: 0;
		padding-top: 40px;
		margin: 0;
		margin-top: 200px;
	}

	section#fader ul#slides li {
		
	}

	section#fader ul#slides li p {
		margin: 0 20px;
	}

}

@media (min-width: 768px ) and (max-width: 992px) {
	section#fader ul#slides li {
		margin-top: 200px;
	}

	section#fader ul#slides li p {
		margin: 0 50px 0 50px;
		padding: 0;
	}
}