@import url("/excel-blinds/lib/responsive-menu/css/menu.less");
@import url("/excel-blinds/lib/responsive-fader/css/style.css");
@import url("/excel-blinds/lib/page-reveal-theme/css/style.css");

body {
	font-family: 'Lato', serif;
}

h1 {
	font-size: 58px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 38px;
}

h4 {
	font-size: 28px;
}

.spacer {
	height: 3px;
	width: 50px;
	display: inline-block;
	background-color: #fff;
}

/*Bootstrap Override */
.btn {
	padding: 0 25px;
	background-color: transparent;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 45px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 0;
	border: 2px solid #fff;
}

.btn:hover {
	background-color: #fff;
	color: #000;

}

.btn:focus {
	outline: none;
	background-color: transparent;
	color: #fff;
}
/*End Override */

/*======================================================================= */
/*----------------------------------------------------------------------- */
/* Responsive Menu Override */
/*----------------------------------------------------------------------- */
/*======================================================================= */

/* Non-Responsive colors */
@nav-height: 70px;
@navbg: #222222;
@theme-background-color: #000000; /* default theme color of menu red/green/etc */
@font-color: #B0B0B0;			  /* font color of non-responsive view */
@hover-font-color: #fff; 		  /* hover font color of non-responsive view */

/* Responsive colors */
@theme-hover-color: #191919; 	  /* hover theme color */
@res-font-color: #B0B0B0;			  /* font color when you hover in responsive mode */
@res-list-border-top: #464646;	  /* color of border separating each link in responsive mode */
@list-item-height: 50px;
@res-btn-padding: 25px 20px;

nav {
	z-index: 3;
	opacity: 0.9;
}

/* Custom Button */
button {
  background: rgba(0, 0, 0, 0);
  border: 2px solid white;
  padding: 15px 30px;
  text-align: center;
  display: block;
  margin: 0 auto; 
}

button:hover {
  background-color: white;
  color: black !important; 
}

/*======================================================================= */
/*----------------------------------------------------------------------- */
/* Home Page */
/*----------------------------------------------------------------------- */
/*======================================================================= */

/*======================================================================= */
/* Fader Overrides */
/*======================================================================= */
section#fader ul#slides li {
	background-color: #222222;
	opacity: 0.9;
	margin: 0 10px 0 10px;
	width: 100%;
	height: 420px;
	margin-top: 275px;
	text-align: center;
}

section#fader ul#background-images li.slide-1-bg {
	background-image: url(../img/bg1.jpg);
}

section#fader ul#background-images li.slide-2-bg {
	background-image: url(../img/bg2.jpg);
}


section#fader ul#background-images li.slide-3-bg {
	background-image: url(../img/bg3.jpg);
}

section#fader ul#slides li {
	padding-top: 50px; 
}

section#fader ul#slides li h3{
	font-weight: 700;
	letter-spacing: 6px;
	margin-bottom: 15px;
}

section#fader ul#slides li h1{
	font-size: 74px;
	font-weight: 900;
	letter-spacing: 4px;
	margin-bottom: 15px;
}

section#fader ul#slides li p {
	font-size: 16px;
	letter-spacing: 2px;
	margin: 0 250px 0 250px;

}

/*======================================================================= */
/* Page Reveal Theme Overrides */
/*======================================================================= */

/*------------------------- Page 2 -------------------------*/
section.home.page-2 {
	min-height: 400px;
	background-color: #7ac143; 
	height: auto;
	color: #fff;
}
section.home.page-2 {
  padding: 20px 10px 50px 10px;
}

section.home.page-2 h1, section.home.page-2 h2, section.home.page-2 p {
  text-align: center; 
}

section.home.page-2 img {
  display: block;
  margin: 30px auto 30px auto; 
}

section.home.page-2 h1 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
  color: white;
  text-align: center; 
}

section.home.page-2 h2 {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: white;
  text-align: center; 
}

section.home.page-2 p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: white;
  text-align: center;
  /* Mobile View */ 
}
@media (max-width: 768px) {
	section.home.page-2 p {
	  margin: 10px 25% 0 25%; 
	} 
}

/*------------------------- Page 3 -------------------------*/
section.home.page-3 {
	background-image: none;
	background-color: #fff;
	min-height: 400px;
	height: auto;
}

/* Temporary Slider */

section.home.page-3 .row{
	margin: 100px 0
}

section.home.page-3 img{
	width: 100%;
	margin-bottom: 20px;
}

/*------------------------- Page 4 -------------------------*/
section.home.page-4 {
	background-image: url(../img/bg2.jpg);
	min-height: 400px;
	height: auto;
}

section.home.page-4 h1 {
  font-family: "Lato", sans-serif;
  font-size: 45px;
  line-height: 50px;
  font-weight: 400;
  color: white;
  text-align: left; 
}

section.home.page-4 p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
  color: white;
  text-align: left; 
}

section.home.page-4 h1, section.home.page-4 p {
  margin-bottom: 20px; 
}

section.home.page-4 {
  padding: 75px 0; 
}

/*------------------------- Page 5 -------------------------*/
section.home.page-5 {
	background-image: none;
	background-color: #fff;
	min-height: 400px;
	height: auto;
}

section.home.page-5 h1 {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: black;
  text-align: left; 
}

section.home.page-5 p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: black;
  text-align: left; 
}

/* Mobile View */
@media (max-width: 768px) {
	section.home.page-5 h1, section.home.page-5 p {
	  text-align: center; 
	}

	section.home.page-5 p {
	  margin: 10px 5% 0 5%; 
	} 
}
section.home.page-5 {
  background-color: white; 
}

section.home.page-5 img {
  display: block;
  margin: 0 auto 25px auto; 
}

section.home.page-5 {
  padding: 75px 0; 
}

/*------------------------- Page 6 -------------------------*/
section.home.page-6{
	background-color: #24cddc;
	min-height: 400px;
	height: auto;
	color: #fff;
}

section.home.page-6 {
  background-color: #24cddc; 
}

section.home.page-6 .top {
  padding: 100px 0; 
}

section.home.page-6 .top h1 {
  font-family: "Lato", sans-serif;
  font-size: 45px;
  line-height: 50px;
  font-weight: 400;
  color: white;
  text-align: center;
  margin-bottom: 70px; 
}

section.home.page-6 .top button {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
  color: white;
  text-align: center; 
}

/*------------------------- Footer -------------------------*/
footer {
	background-color: #222222;
	min-height: 85px;
	height: auto;
	line-height: 85px;
	color: #B0B0B0;
}

footer i{
	margin-right: 15px;
	&:hover{
		color:#fff;
		cursor: pointer;
	}
}

footer div.right {
  text-align: right; 
}

/* Mobile View */
@media (max-width: 768px) {
  footer div.right {
    text-align: left;
    line-height: 20px;
    margin-top: -25px;
    margin-bottom: 15px;
  } 
}

/*======================================================================= */
/*----------------------------------------------------------------------- */
/* Products Page */
/*----------------------------------------------------------------------- */
/*======================================================================= */
section.products.page-1 {
	height: 300px;
  background-image: url(../img/bg2.jpg);
  padding-bottom: 50px; }

section.products.page-2 {
  padding-bottom: 50px; }

section.products h1{
	margin: 200px 0px;
}