/* Resets */
h1, h2, h3, h4, h5, h6, p
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

/* Fonts */
$font1: 'Lato'

/* Screen Sizes */ 
$screen-iphone5-min: 640px
$screen-mobile-max: 767px
$screen-small-min: 768px
$screen-medium-min: 992px
$screen-large-min: 1200px

/* Colors */
$light_green: #7AC143
$sky_blue: #24CDDC


/* Mixins */
@mixin set-font($family, $size, $weight, $color, $align)
	font-family: $family, sans-serif
	font-size: $size
	line-height: $size + 5px
	font-weight: $weight
	color: $color
	text-align: $align


/* Parallax Effect */


.parallax
	position: relative
	background-size: cover !important
	background-attachment: fixed !important

.page
	min-height: 800px

.half-page
	min-height: 400px



/*=======================================================================*/
/*-----------------------------------------------------------------------*/
/* Home Page */
/*-----------------------------------------------------------------------*/
/*=======================================================================*/

#home .page-1
	background-image: url(../img/bg1.jpg)

#home .page-2
	background-color: #202020

#home .page-3
	background-image: url(../img/bg2.jpg)

#home .page-4
	background-color: #808080

section.page-1
	height: 912px

/*=======================================================================*/
/* Page 1 */
/*=======================================================================*/

#home .page-1 div.box
	position: relative
	margin-top: 275px
	letter-spacing: 2px
	background: rgba(0, 0, 0, 0.5)
	padding: 50px 0


/* Custom Button */
button
	background: rgba(0, 0, 0, 0)
	border: 2px solid #fff
	padding: 15px 30px
	text-align: center
	display: block
	margin: 0 auto
	&:hover
		background-color: #fff
		color: #000 !important

/* Very Small Mobile */
#home .page-1 h1
	@include set-font($font1, 16px, 400, #fff, center)
	margin: 20px 5% 0 5%
#home .page-1 h2
	@include set-font($font1, 25px, 900, #fff, center)
	margin: 10px 10% 0 10%
#home .page-1 p
	@include set-font($font1, 13px, 400, #fff, center)
	margin: 20px 15% 0 15%
#home .page-1 button
	@include set-font($font1, 13px, 400, #fff, center)
	margin-top: 20px

/* Mobile devices (iphone5, 640px and up) */
@media (min-width: $screen-iphone5-min)
	#home .page-1 h1
		@include set-font($font1, 20px, 400, #fff, center)
		margin: 20px 5% 0 5%
	#home .page-1 h2
		@include set-font($font1, 35px, 900, #fff, center)
		margin: 10px 10% 0 10%
	#home .page-1 p
		@include set-font($font1, 13px, 400, #fff, center)
		margin: 20px 15% 0 15%
	#home .page-1 button
		@include set-font($font1, 13px, 400, #fff, center)
		margin-top: 20px

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-small-min)
	#home .page-1 h1
		@include set-font($font1, 38px, 400, #fff, center)
		margin: 20px 10% 0 10%
	#home .page-1 h2
		@include set-font($font1, 64px, 900, #fff, center)
		margin: 10px 10% 0 10%
	#home .page-1 p
		@include set-font($font1, 14px, 400, #fff, center)
		margin: 20px 15% 0 15%
	#home .page-1 button
		@include set-font($font1, 14px, 400, #fff, center)
		margin-top: 20px

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-medium-min)
	#home .page-1 h1
		@include set-font($font1, 34px, 400, #fff, center)
		margin: 20px 20% 0 20%
	#home .page-1 h2
		@include set-font($font1, 60px, 900, #fff, center)
		margin: 10px 20% 0 20%
	#home .page-1 p
		@include set-font($font1, 16px, 400, #fff, center)
		margin: 20px 30% 0 30%
	#home .page-1 button
		@include set-font($font1, 16px, 400, #fff, center)
		margin-top: 20px

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-large-min)
	#home .page-1 h1
		@include set-font($font1, 38px, 400, #fff, center)
		margin: 20px 20% 0 20%
	#home .page-1 h2
		@include set-font($font1, 64px, 900, #fff, center)
		margin: 10px 25% 0 25%
	#home .page-1 p
		@include set-font($font1, 14px, 400, #fff, center)
		margin: 20px 30% 0 30%
	#home .page-1 button
		@include set-font($font1, 14px, 400, #fff, center)
		margin-top: 20px



/*=======================================================================*/
/* Page 2 */
/*=======================================================================*/

#home .page-2 .card
	padding: 50px 10px

#home .page-2 .top
	background-color: $light_green

#home .page-2 .bottom
	background-color: #fff

#home .page-2 h1, #home .page-2 h2, #home .page-2 p 
	text-align: center

#home .page-2 img 
	display: block
	margin: 0 auto 30px auto

.half-page .bottom
	height: 400px

#home .page-2 h1
	@include set-font($font1, 20px, 400, #fff, center)
#home .page-2 h2
	@include set-font($font1, 25px, 700, #fff, center)
#home .page-2 p
	@include set-font($font1, 14px, 300, #fff, center)
	/* Mobile View */
	@media (max-width: $screen-small-min)
		margin: 10px 25% 0 25%


/*=======================================================================*/
/* Page 3 */
/*=======================================================================*/

/* Fonts */
#home .page-3 .top h1
	@include set-font($font1, 45px, 400, #fff, left)
#home .page-3 .top p
	@include set-font($font1, 16px, 300, #fff, left)
#home .page-3 .bottom h1
	@include set-font($font1, 24px, 400, #000, left)
#home .page-3 .bottom p
	@include set-font($font1, 14px, 300, #000, left)

/* Mobile View */
@media (max-width: $screen-small-min)
	#home .page-3 .bottom h1, #home .page-3 .bottom p
		text-align: center
	#home .page-3 .bottom p 
		margin: 10px 5% 0 5%

#home .page-3 h1, #home .page-3 p 
	margin-bottom: 20px

#home .page-3 .top
	padding: 75px 0

#home .page-3 .bottom
	background-color: #fff

#home .page-3 .bottom img 
	display: block
	margin: 0 auto 25px auto

#home .page-3 .bottom
	padding: 75px 0


/*=======================================================================*/
/* Page 4 */
/*=======================================================================*/

#home .page-4
	background-color: $sky_blue

#home .page-4 .top
	padding: 100px 0

#home .page-4 .top h1
	@include set-font($font1, 45px, 400, #fff, center)
	margin-bottom: 70px
#home .page-4 .top button
	@include set-font($font1, 16px, 300, #fff, center)


/*=======================================================================*/
/* Footer */
/*=======================================================================*/

footer
	min-height: 85px
	background-color: #000
	color: #808080

footer p
	line-height: 85px

footer p.right
	text-align: right

/* Mobile View */
@media (max-width: $screen-small-min)
	footer p.right
		text-align: left
		line-height: 20px


/*=======================================================================*/
/*-----------------------------------------------------------------------*/
/* Products Page */
/*-----------------------------------------------------------------------*/
/*=======================================================================*/

#products
	color: #fff

#products .box
	height: 260px
	margin-top: 100px
	background: rgba(0, 0, 0, 0.5)
	@include set-font($font1, 48px, 300, #fff, left)

#products .page-1
	background-image: url(../img/bg2.jpg)














